@tailwind base;
@tailwind components;
@tailwind utilities;

.dark #access {
    scrollbar-width: thin;
    scrollbar-color: transparent #eaeaea20;
}

.dark #access::-webkit-scrollbar-thumb {
    background-color: #eaeaea20;
    border-radius: 5px;
}


#access {
    scrollbar-width: thin;
    scrollbar-color: transparent #bc77d6;
}

#access::-webkit-scrollbar-thumb {
    background-color: #bd77d6;
    border-radius: 5px;
}

#access::-webkit-scrollbar {
    width: 5px;
}

#access::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

