<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>EasyD20 - Editar ficha</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../Src/View/Assets/output.css">
    <link rel="icon" type="image/x-icon" href="../../../Src/View/Images/Logo.png">
</head>

<body class="bg-dark-300 text-white font-main">
    <div class="w-full h-full flex items-center justify-center p-10">
        <div class="w-auto h-auto bg-dark-200 p-2 rounded-lg flex flex-col items-center justify-center gap-6">

            <a href="{{ url }}/fichas/{{ ficha.id }}" class="w-24 h-8 rounded-md mr-auto text-primary flex items-center justify-center gap-1 duration-200 hover:bg-white/20">
                <svg class="w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><line x1="19" x2="5" y1="12" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                <p class="text-xl">Voltar</p>
            </a>

            <div class="mr-1 ml-1">
                <p class="text-3xl mr-auto mb-2 pl-2.5">Edite a ficha de <span class="text-primary">{{ ficha.nome_jogador }}</span></p>
                <form action="{{ url }}/fichas/{{ ficha.id }}/editar" method="post" class="w-96 flex flex-col items-center justify-center gap-3">
                    <img src="../../Src/View/Images/Profiles/{{ ficha.img_jogador }}" class="w-24 h-24 rounded-full object-cover">
                    <input type="text" name="nome" value="{{ ficha.nome }}" placeholder="Nome do personagem" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" maxlength="32" autofocus autocomplete="off">
                    <input type="number" name="idade" value="{% if ficha.idade %}{{ ficha.idade }}{% endif %}" placeholder="Idade" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" max="999">
                    <input type="number" name="altura" value="{% if ficha.altura %}{{ ficha.altura }}{% endif %}" placeholder="Altura (m)" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" max="999" step="0.01">
                    <input type="number" name="peso" value="{% if ficha.peso %}{{ ficha.peso }}{% endif %}" placeholder="Peso (kg)" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" max="999">
                    <input type="text" name="raca" value="{{ ficha.raca }}" placeholder="Raça" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" autofocus autocomplete="off" maxlength="32">
                    <input type="text" name="classe" value="{{ ficha.classe }}" placeholder="Classe" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" autofocus autocomplete="off" maxlength="32">
                    <input type="number" name="nivel" value="{% if ficha.nivel %}{{ ficha.nivel }}{% endif %}" placeholder="Nível" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" max="9999">
                    <input type="number" name="pontos_exp" value="{% if ficha.pontos_exp %}{{ ficha.pontos_exp }}{% endif %}" placeholder="Pontos de experiência" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" max="9999">
                    <input type="number" name="dinheiro" value="{% if ficha.dinheiro %}{{ ficha.dinheiro }}{% endif %}" placeholder="Dinheiro" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" max="99999999" step="0.01">
                
                    <div class="w-full flex items-center">
                        <input type="submit" value="Salvar" class="w-28 h-8 bg-primary ml-auto rounded-md text-lg text-dark-300 cursor-pointer duration-200 hover:bg-primary/80">
                    </div>
            
                    <div class="text-red-600 flex flex-row-reverse items-center justify-center gap-1">
                        <p class="peer text-lg">{{ alert }}</p>
                        <svg class="w-5 h-5 peer-empty:hidden" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" x2="12" y1="8" y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"></line></svg>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>