{% extends "dashboard.html" %}

{% block title %}
<title>EasyD20 - Ficha</title>
{% endblock %}

{% block content %}
<div class="h-auto w-full p-10 flex flex-row items-start justify-center flex-wrap gap-5 shrink-0">

    <div class="group w-14 h-max text-primary2 dark:text-primary rounded-xl p-2 bg-light-300 dark:bg-dark-300 overflow-hidden flex flex-col items-center gap-2">
        {% if mestre %}
        <a href="{{ url }}/fichas" class="w-10 h-10 rounded-md hover:bg-white2/10 dark:hover:bg-white/10 flex items-center justify-center duration-500">
            <svg class="w-10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                <line x1="19" x2="5" y1="12" y2="12"></line>
                <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
        </a>
        {% else %}
        <a href="{{ url }}/aventuras" class="w-10 h-10 rounded-md hover:bg-white2/10 dark:hover:bg-white/10 flex items-center justify-center duration-500">
            <svg class="w-10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                <line x1="19" x2="5" y1="12" y2="12"></line>
                <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
        </a>
        {% endif %}
        {% if mestre or aventura.editar %}
        <a href="{{ url }}/fichas/{{ ficha.id }}/editar" class="w-10 h-10 rounded-md hover:bg-white2/10 dark:hover:bg-white/10 flex items-center justify-center duration-500">
            <svg class="w-8" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 20h9"></path>
                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
            </svg>
        </a>
        {% endif %}
    </div>

    <div class="w-2/3 rounded-xl bg-light-200 dark:bg-dark-200 p-2 overflow-hidden flex flex-col items-center">
        <div class="w-full flex items-center p-3 justify-center gap-2">
            <div class="w-1/2 bg-light-300 dark:bg-dark-300 rounded-lg flex items-center justify-center">
                <img src="../Src/View/Images/Profiles/{{ ficha.img_jogador }}" class="w-52 h-52 p-4 rounded-full object-cover">
            </div>
            <div class="w-1/2 flex flex-col items-center justify-center gap-2">
                <div class="w-full bg-light-300 dark:bg-dark-300 rounded-lg flex flex-col items-center justify-center">
                    {% if ficha.nome %}
                    <p class="text-2xl text-center line-clamp-1">{{ ficha.nome }}</p>
                    {% else %}
                    <p class="text-2xl text-center line-clamp-1 text-neutral-500">Desconhecido</p>
                    {% endif %}
                    <div class="w-2/3 h-0.5 bg-primary2 dark:bg-primary"></div>
                    <p class="text-secondary text-xl text-center line-clamp-1">{{ ficha.nome_jogador }}</p>
                </div>
                <div class="w-full bg-light-300 dark:bg-dark-300 rounded-lg text-center p-2 flex flex-wrap items-center justify-center">
                    {% if ficha.idade %}
                    <p class="w-1/2 text-xl line-clamp-1">Idade: <span class="text-primary2 dark:text-primary">{{ ficha.idade }} anos</span></p>
                    {% else %}
                    <p class="w-1/2 text-xl line-clamp-1">Idade: <span class="text-neutral-500">– anos</span></p>
                    {% endif %}

                    {% if ficha.raca %}
                    <p class="w-1/2 text-xl line-clamp-1">Raça: <span class="text-primary2 dark:text-primary">{{ ficha.raca }}</span></p>
                    {% else %}
                    <p class="w-1/2 text-xl line-clamp-1">Raça: <span class="text-neutral-500">–</span></p>
                    {% endif %}

                    {% if ficha.altura %}
                    <p class="w-1/2 text-xl line-clamp-1">Altura: <span class="text-primary2 dark:text-primary">{{ ficha.altura }} m</span></p>
                    {% else %}
                    <p class="w-1/2 text-xl line-clamp-1">Altura: <span class="text-neutral-500">– m</span></p>
                    {% endif %}

                    {% if ficha.classe %}
                    <p class="w-1/2 text-xl line-clamp-1">Classe: <span class="text-primary2 dark:text-primary">{{ ficha.classe }}</span></p>
                    {% else %}
                    <p class="w-1/2 text-xl line-clamp-1">Classe: <span class="text-neutral-500">–</span></p>
                    {% endif %}

                    {% if ficha.peso %}
                    <p class="w-1/2 text-xl line-clamp-1">Peso: <span class="text-primary2 dark:text-primary">{{ ficha.peso }}kg</span></p>
                    {% else %}
                    <p class="w-1/2 text-xl line-clamp-1">Peso: <span class="text-neutral-500">– kg</span></p>
                    {% endif %}

                    {% if ficha.nivel %}
                    <p class="w-1/2 text-xl line-clamp-1">Nível: <span class="text-primary2 dark:text-primary">{{ ficha.nivel }}</span></p>
                    {% else %}
                    <p class="w-1/2 text-xl line-clamp-1">Nível: <span class="text-neutral-500">–</span></p>
                    {% endif %}
                </div>
                <div class="w-full h-8 bg-light-300  dark:bg-dark-300 rounded-lg flex items-center justify-center gap-2">
                    <div class="w-1/2 flex items-center justify-center gap-2">
                        <svg class="w-8 h-8 text-primary2 dark:text-primary" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <rect width="20" height="12" x="2" y="6" rx="2"></rect>
                            <circle cx="12" cy="12" r="2"></circle>
                            <path d="M6 12h.01M18 12h.01"></path>
                        </svg>
                        <p class="line-clamp-1">{{ ficha.dinheiro }}</p>
                    </div>
                    <div class="w-1/2 flex items-center justify-center gap-2">
                        <svg class="w-8 h-8 p-0.5 text-primary2 dark:text-primary" viewBox="0 0 32 32" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="18 20.5 18 11.5 21 11.5"></polyline>
                            <rect width="3" height="5" x="18" y="11.5"></rect>
                            <line x1="11" x2="15" y1="20.5" y2="11.5"></line>
                            <line x1="15" x2="11" y1="20.5" y2="11.5"></line>
                            <polygon points="28.56 23.25 28.56 8.75 16 1.5 3.44 8.75 3.44 23.25 16 30.5 28.56 23.25"></polygon>
                            <polygon points="25.96 21.75 25.96 10.25 16 4.5 6.04 10.25 6.04 21.75 16 27.5 25.96 21.75"></polygon>
                        </svg>
                        <p class="line-clamp-1">{{ ficha.pontos_exp }}</p>
                    </div>


                </div>
            </div>
        </div>

        <div class="w-full flex items-center p-3 justify-center gap-2">

            <div class="w-full bg-light-300 dark:bg-dark-300 rounded-lg flex flex-col items-center p-3 justify-center gap-2">
                <div class="w-full flex items-center">
                    <p class="w-full {% if mestre or aventura.editar %} pl-8 {% endif %} text-primary2 dark:text-primary text-2xl text-center">Atributos</p>
                    {% if mestre or aventura.editar %}
                    <a href="{{ url }}/fichas/{{ ficha.id }}/atributos/novo" class="w-8 h-8 text-primary2 dark:text-primary ml-auto hover:bg-white2/10 dark:hover:bg-white/10 rounded-lg duration-500">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="12" x2="12" y1="5" y2="19"></line>
                            <line x1="5" x2="19" y1="12" y2="12"></line>
                        </svg>
                    </a>
                    {% endif %}
                </div>
                <div class="w-full flex flex-wrap items-center">

                    {% if ficha.atributos %}
                    {% for atr in ficha.atributos %}
                    <div class="{% if ficha.atributos|length == 1 %}w-full{% else %}w-1/2{% endif %} pl-2 pr-2 hover:bg-white2/10 dark:hover:bg-white/10 rounded-md duration-200 flex items-center">
                        <p class="text-xl">{{ atr.nome }}: <span class="text-primary2 dark:text-primary">{{ atr.valor }}</span></p>
                        {% if mestre or aventura.editar %}
                        <a href="{{ url }}/fichas/{{ ficha.id }}/atributos/{{ atr.id }}" class="w-6 h-6 ml-auto">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M12 20h9"></path>
                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                            </svg>
                        </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="w-full pl-2 pr-2 flex items-center justify-center">
                        <p class="text-xl text-neutral-500">Atributos desconhecidos</p>
                    </div>
                    {% endif %}


                </div>
            </div>

        </div>

        <div class="w-full flex items-center p-3 justify-center gap-2">


            <div class="w-full bg-light-300 dark:bg-dark-300 rounded-lg flex flex-col items-center p-3 justify-center gap-2">
                <div class="w-full flex items-center">
                    <p class="w-full {% if mestre or aventura.editar %} pl-8 {% endif %} text-primary2 dark:text-primary text-2xl text-center">Habilidades</p>
                    {% if mestre or aventura.editar %}
                    <a href="{{ url }}/fichas/{{ ficha.id }}/habilidades/novo" class="w-8 h-8 text-primary2 dark:text-primary ml-auto hover:bg-white2/10 dark:hover:bg-white/10 rounded-lg duration-500">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="12" x2="12" y1="5" y2="19"></line>
                            <line x1="5" x2="19" y1="12" y2="12"></line>
                        </svg>
                    </a>
                    {% endif %}
                </div>
                <div class="w-full flex flex-wrap items-center">

                    {% if ficha.habilidades %}
                    {% for hab in ficha.habilidades %}
                    <div class="{% if ficha.habilidades|length == 1 %}w-full{% else %}w-1/2{% endif %} pl-2 pr-2 hover:bg-white2/10 dark:hover:bg-white/10 rounded-md duration-200 flex items-center">
                        <p class="text-xl">{{ hab.nome }}: <span class="text-primary2 dark:text-primary">{{ hab.forca }}</span> / Nível: <span class="text-primary2: text-primary">{{ hab.nivel }}</span></p>
                        {% if mestre or aventura.editar %}
                        <a href="{{ url }}/fichas/{{ ficha.id }}/habilidades/{{ hab.id }}" class="w-6 h-6 ml-auto">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M12 20h9"></path>
                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                            </svg>
                        </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="w-full pl-2 pr-2 flex items-center justify-center">
                        <p class="text-xl text-neutral-500">Habilidades desconhecidas</p>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>

        <div class="w-full flex items-center p-3 justify-center gap-2">

            <div class="w-full bg-light-300 dark:bg-dark-300 rounded-lg flex flex-col items-center p-3 justify-center gap-2">
                <div class="w-full flex items-center">
                    <p class="w-full {% if mestre or aventura.editar %} pl-8 {% endif %} text-primary2 dark:text-primary text-2xl text-center">Itens</p>
                    {% if mestre or aventura.editar %}
                    <a href="{{ url }}/fichas/{{ ficha.id }}/itens/novo" class="w-8 h-8 text-primary2 dark:text-primary ml-auto hover:bg-white2/10 dark:hover:bg-white/10 rounded-lg duration-500">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="12" x2="12" y1="5" y2="19"></line>
                            <line x1="5" x2="19" y1="12" y2="12"></line>
                        </svg>
                    </a>
                    {% endif %}
                </div>
                <div class="w-full flex flex-wrap items-start justify-center">

                    {% if ficha.itens %}
                    <div class="w-[508px] h-auto rounded-lg overflow-hidden border-[1px] border-white2/20 dark:border-white/20 flex flex-wrap items-start bg-light-200 dark:bg-dark-200">
                        {% for item in ficha.itens %}
                        <a href="{{ url }}/fichas/{{ ficha.id }}/itens/{{ item.id }}" class="w-14 h-14 bg-light-200 dark:bg-dark-200 border-white2/20 dark:border-white/20 border-[1px]">
                            <img src="../Src/View/Images/Items/{{ item.img_path }}" class="w-10 h-10 m-[7px] opacity-90 rounded-lg object-cover">
                            <p class="relative bottom-5 text-base">{{ item.quantidade }}</p>
                        </a>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="w-full pl-2 pr-2 flex items-center justify-center">
                        <p class="text-xl text-neutral-500">Itens desconhecidos</p>
                    </div>
                    {% endif %}

                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}