{% extends "dashboard.html" %}

{% block title %}
<title>EasyD20 - Mapas</title>
{% endblock %}

{% block content %}
<div class="h-auto w-full p-10 pl-30 pr-30 flex items-center justify-center flex-wrap row gap-6 shrink-0">

    {% if alert and not mestre %}
    <div class="group bg-dark-200 rounded-xl p-10 mt-16 hover:bg-dark-300 duration-500 flex flex-col items-center justify-center gap-5">
        <div class="text-red-600 flex flex-row-reverse items-center justify-center gap-1">
            <p class="peer text-4xl">{{ alert }}</p>
            <svg class="w-9 h-9 peer-empty:hidden" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" x2="12" y1="8" y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"></line></svg>
        </div>
        <a href="{{ url }}/aventuras" class="text-primary bg-dark-200 hover:bg-dark-300 duration-200 border-primary border-2 p-2 rounded-xl">Voltar a página de aventuras</a>
    </div>
    {% endif %}

    {% for mapa in mapas %}
    <div class="group w-96 h-64 rounded-xl border-primary border-2 bg-dark-200 overflow-hidden flex flex-col items-center hover:bg-dark-300 duration-500">
        {% if mapa.hidden and not mestre %}
        <div class="w-full h-full flex flex-col items-center gap-1 blur">
            <img src="../../Src/View/Images/Maps/{{ mapa.img_path }}" class="w-full h-40 object-cover">
            <p class="shrink-0 text-center text-2xl line-clamp-1 ml-1 mr-1">{{ mapa.nome }}</p>
            <p class="h-12 shrink-0 text-center line-clamp-2 ml-1 mr-1">{{ mapa.descricao }}</p>
        </div>
        <div class="relative bottom-40 bg-dark-300/80 p-3 rounded-full">
            <svg class="w-10 h-10 text-primary" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/><path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"/><path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"/><line x1="2" x2="22" y1="2" y2="22"/></svg>
        </div>
        {% else %}
        <div class="w-full h-full flex flex-col items-center gap-1">
            <img src="../../Src/View/Images/Maps/{{ mapa.img_path }}" class="w-full h-40 object-cover">
            <p class="shrink-0 text-center text-2xl line-clamp-1 ml-1 mr-1">{{ mapa.nome }}</p>

            {% if mapa.descricao %}
            <p class="h-12 shrink-0 text-center line-clamp-2 ml-1 mr-1">{{ mapa.descricao }}</p>
            {% else %}
            <p class="h-12 shrink-0 text-center text-neutral-400 line-clamp-2 ml-1 mr-1">Sem descrição</p>
            {% endif %}
            
            <a href="{{ url }}/mapas/{{ mapa.id }}" class="relative bottom-full left-1/2 mr-8 rounded-bl-lg bg-dark-300/80 p-1 w-8 opacity-0 group-hover:opacity-100 duration-200 delay-75">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 3 21 3 21 9"/><polyline points="9 21 3 21 3 15"/><line x1="21" x2="14" y1="3" y2="10"/><line x1="3" x2="10" y1="21" y2="14"/></svg>
            </a>
        </div>
        {% endif %}
    </div>
    {% endfor %}

    {% if mestre %}
    <a href="{{ url }}/mapas/novo" class="group w-96 h-64 text-primary p-10 rounded-xl border-primary border-2 bg-dark-200 overflow-hidden flex flex-col items-center hover:bg-dark-300 duration-500">
        <svg class="w-32 h-32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="17 8 12 3 7 8"/><line x1="12" x2="12" y1="3" y2="15"/></svg>
        <p class="text-2xl">Envie seu mapa</p>
    </a>
    {% endif %}
    
</div>
{% endblock %}