<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>EasyD20 - Editar perfil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Src/View/Assets/output.css">
    <link rel="icon" type="image/x-icon" href="../Src/View/Images/Logo.png">
    <script src="../Src/View/Assets/image.js"></script>
</head>

<body class="bg-dark-300 text-white font-main">
    <div class="w-screen h-screen flex items-center justify-center">
        <div class="w-auto h-auto bg-dark-200 p-2 rounded-lg flex flex-col items-center justify-center gap-6">

            <a href="{{ url }}/perfil" class="w-24 h-8 rounded-md mr-auto text-primary flex items-center justify-center gap-1 duration-200 hover:bg-white/20">
                <svg class="w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><line x1="19" x2="5" y1="12" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                <p class="text-xl">Voltar</p>
            </a>

            <div class="mr-1 ml-1 mb-5">
                <form action="{{ url }}/perfil/editar" method="post" enctype="multipart/form-data" class="w-96 flex flex-col items-center justify-center gap-3">
                    
                    <label for="file" class="group cursor-pointer flex flex-col items-center justify-center">
                        <img src="../../Src/View/Images/Profiles/{{ usuario.img_path }}" id="img" class="w-32 h-32 group-hover:opacity-50 rounded-full object-cover duration-300">
                        <p class="text-primary text-lg">Envie uma imagem</p>
                    </label>
                    <input type="file" name="file" id="file" class="hidden" onchange="previewImage()">

                    <input type="text" name="name" value="{{ usuario.nome }}" placeholder="Nome de usuário" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" autofocus autocomplete="off" required>
                    <input type="email" name="email" value="{{ usuario.email }}" placeholder="Email" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" required >
                    <select name="imagem" id="imagem" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg pl-3 pr-3 rounded-md outline-none focus:bg-white/95" onchange="changeImg('Profiles')" required>
                        <option value="none" selected>Manter imagem atual</option>
                        <option value="file" disabled hidden>Nova imagem personalizada</option>
                        <option value="Default.png">Remover imagem</option>
                    </select>

                    <input type="password" name="password" placeholder="Digite sua senha" class="w-full h-8 mt-2 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" autocomplete="off" required>

                    <div class="w-full flex items-center justify-between">
                        <a href="{{ url }}/perfil/senha" class="ml-2 text-lg text-primary hover:text-primary/80 duration-200">Mudar senha</a>
                        <input type="submit" value="Salvar" class="w-28 h-8 bg-primary rounded-md text-lg text-dark-300 cursor-pointer duration-200 hover:bg-primary/80">
                    </div>
            
                    <div class="text-red-600 mt-2 flex flex-row-reverse items-center justify-center gap-1">
                        <p class="peer text-lg">{{ alert }}</p>
                        <svg class="w-5 h-5 peer-empty:hidden" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" x2="12" y1="8" y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"></line></svg>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>