<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>EasyD20 - Email da conta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Src/View/Assets/output.css">
    <link rel="icon" type="image/x-icon" href="../Src/View/Images/Logo.png">
    <script src="../../Src/View/Assets/onLoad.js"></script>
</head>

<body class="bg-light-300 dark:bg-dark-300 text-white2 dark:text-white font-main">
    <div id="background" class="w-screen h-screen flex items-center justify-center">
        <div class="w-auto h-auto bg-light-200 dark:bg-dark-200 p-2 rounded-lg flex flex-col items-center justify-center gap-6">

            <a href="{{ url }}/login" class="w-24 h-8 rounded-md mr-auto text-primary2 dark:text-primary flex items-center justify-center gap-1 duration-200 hover:bg-white2/20 dark:hover:bg-white/20">
                <svg class="w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><line x1="19" x2="5" y1="12" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                <p class="text-xl">Voltar</p>
            </a>

            <div class="mr-1 ml-1 group-hover:bg-red-500">
                <p class="text-3xl mr-auto mb-2 pl-2.5">Digite o email da conta</p>
                <form action="{{ url }}/recuperar/usuario" method="post" class="w-96 flex flex-col items-center justify-center gap-3" onsubmit="showSplash()">
                    <input type="email" name="email" value="{{ email }}" placeholder="Email" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" maxlength="48" required>
                    
                    <input type="submit" value="Continuar" class="peer w-28 h-8 ml-auto bg-primary2 dark:bg-primary rounded-md text-lg text-light-300 dark:text-dark-300 cursor-pointer duration-200 hover:bg-primary2/80 dark:hover:bg-primary/80">

                    <div class="text-red-600 flex flex-row-reverse items-center justify-center gap-1">
                        <p class="peer text-lg">{{ alert }}</p>
                        <svg class="w-5 h-5 peer-empty:hidden" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" x2="12" y1="8" y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"></line></svg>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>