<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>EasyD20 - Signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Src/View/Assets/output.css">
    <link rel="icon" type="image/x-icon" href="./Src/View/Images/Logo.png">
    <script src="../../Src/View/Assets/pass.js"></script>
    <script src="../../Src/View/Assets/onLoad.js"></script>
</head>

<body class="bg-light-300 dark:bg-dark-300 text-white2 dark:text-white font-main">
    <div class="w-screen h-screen flex items-center justify-center">
        <div class="w-auto h-auto bg-light-200 dark:bg-dark-200 p-2 rounded-lg flex flex-col items-center justify-center gap-6">

            <a href="{{ url }}" class="w-24 h-8 rounded-md mr-auto text-primary2 dark:text-primary flex items-center justify-center gap-1 duration-200 hover:bg-white2/20 dark:hover:bg-white/20">
                <svg class="w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><line x1="19" x2="5" y1="12" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                <p class="text-xl">Voltar</p>
            </a>

            <div class="flex items-center justify-center gap-2">
                <img src="./Src/View/Images/Logo.png" class="w-20">
                <p class="text-3xl">EasyD20</p>
            </div>

            <div class="mr-1 ml-1">
                <p class="text-3xl mr-auto mb-2 pl-2.5">Cadastre-se</p>
                <form action="{{ url }}/signup" method="post" class="w-96 flex flex-col items-center justify-center gap-3" onsubmit="showSplash()">
                    <input type="text" name="name" value="{{ name }}" placeholder="Nome de usuário" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" maxlength="20" autofocus autocomplete="off" required>
                    <input type="email" name="email" value="{{ email }}" placeholder="Email" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" maxlength="48" required>

                    <div class="w-full h-8 flex flex-col">
                        <input type="password" id="password" name="password" placeholder="Digite sua senha" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" maxlength="255" autocomplete="off" required>
                        <label for="pass" class="hover:bg-primary/25 text-primary w-8 h-8 ml-auto relative bottom-8 rounded-md flex items-center justify-center duration-300">
                            <input id="pass" class="peer hidden" type="checkbox" onclick="togglePass(['password', 'passverify'], 'pass')">
                            <svg class="w-0 peer-checked:w-5 h-8 duration-200" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/>
                                <circle cx="12" cy="12" r="3"/>
                            </svg>
                            <svg class="w-5 peer-checked:w-0 h-8 duration-200" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/>
                                <path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"/>
                                <path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"/>
                                <line x1="2" x2="22" y1="2" y2="22"/>
                            </svg>
                        </label>
                    </div>

                    <input type="password" id="passverify" name="passverify" placeholder="Digite sua senha novamente" class="w-full h-8 text-dark-300 placeholder-dark-300/60 placeholder:italic text-lg p-3 rounded-md outline-none focus:bg-white/95" maxlength="255" autocomplete="off" required>
                    
                    <div class="w-full flex items-center">
                        <a href="{{ url }}/login" class="ml-3 text-primary2 dark:text-primary text-lg duration-200 hover:text-primary2/80 dark:hover:text-primary/80">Entre em sua conta</a>
                        <input type="submit" value="Cadastrar" class="w-28 h-8 bg-primary2 dark:bg-primary ml-auto rounded-md text-lg text-light-300 dark:text-dark-300 cursor-pointer duration-200 hover:bg-primary2/80 dark:hover:bg-primary/80">
                    </div>
            
                    <div class="text-red-600 flex flex-row-reverse items-center justify-center gap-1">
                        <p class="peer text-lg">{{ alert }}</p>
                        <svg class="w-5 h-5 peer-empty:hidden" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" x2="12" y1="8" y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"></line></svg>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>